node_modules/
config/production.json
config/default.json
client/build
client/.eslintcache
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
